<nav class="page-navigation align-right">
  {% if page.next.url %}
    <span class="next-page">
      <a href="{{ page.next.url }}" title="Next Post: {{ page.next.title }}">&laquo; {{ page.next.title }}</a>
    </span>
  {% endif %}
  {% if page.previous.url and page.next.url %}<span class="page-separator"></span>{% endif %}
  {% if page.previous.url %}
    <span class="previous-page">
      <a href="{{ page.previous.url }}" title="Previous Post: {{ page.previous.title }}">{{ page.previous.title }} &raquo;</a>
    </span>
  {% endif %}
</nav>
