// Grid

$total-columns: 9
$column-width: 80px
$gutter-width: 10px

$content-width: $total-columns * $column-width + ($total-columns - 1) * $gutter-width

#header-content, #content, #footer-content
  width: $content-width
  margin-left: auto
  margin-right: auto
  &:after
    content: " "
    display: block
    clear: both

#sidebar
  width: $column-width
  float: right
  margin-right: 0

#main
  width: $total-columns * $column-width - $gutter-width
  float: left
  margin-right: $gutter-width
