// Grid

@import susy/susy

$total-columns: 9
$column-width: 80px
$gutter-width: 10px

$susy: (math: static, columns: $total-columns, column-width: $column-width, gutters: calc($gutter-width / $column-width))

$sidebar-columns: 1
$main-columns: $total-columns - $sidebar-columns

#header-content, #content, #footer-content
  @include container

#sidebar
  @include span(last $sidebar-columns of $total-columns)

#main
  @include span($main-columns of $total-columns)
