html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.icons-sprite, .clock-icon, .comment-icon, .tag-icon, .github-sidebar, .rss-sidebar, .shopify-sidebar {
  background-image: url('/images/icons-se673def3cf.png');
  background-repeat: no-repeat;
}

.clock-icon, .comment-icon, .tag-icon {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 2px;
}

.clock-icon {
  background-position: 0 0;
  height: 12px;
  width: 12px;
}

.comment-icon {
  background-position: 0 -16px;
  height: 11px;
  width: 12px;
}

.tag-icon {
  background-position: 0 -139px;
  height: 12px;
  width: 12px;
}

.github-sidebar, .rss-sidebar, .shopify-sidebar {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  margin: 10px 0px;
}
.github-sidebar:hover, .rss-sidebar:hover, .shopify-sidebar:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.github-sidebar {
  background-position: 0 -31px;
  height: 32px;
  width: 32px;
}

.rss-sidebar {
  background-position: 0 -67px;
  height: 32px;
  width: 32px;
}

.shopify-sidebar {
  background-position: 0 -103px;
  height: 32px;
  width: 32px;
}

#header-content, #content, #footer-content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#header-content:after, #content:after, #footer-content:after {
  content: " ";
  display: block;
  clear: both;
}

#sidebar {
  width: 80px;
  float: right;
  margin-right: 0;
}

#main {
  width: 710px;
  float: left;
  margin-right: 10px;
}

#header-content {
  height: 100px;
  position: relative;
}

h1#logo {
  position: absolute;
  font: bold 45px "Trebuchet MS", Tahoma, sans-serif;
  letter-spacing: -2px;
  color: #FFFFFF;
  margin: 0px;
  top: 0px;
  left: 0px;
}
h1#logo a {
  color: #FFFFFF;
  text-decoration: none;
}

#slogan {
  position: absolute;
  font: bold 12px "Trebuchet MS", Tahoma, sans-serif;
  text-transform: none;
  color: #FFFFFF;
  margin: 0px;
  top: 55px;
  left: 40px;
}

#headerphoto {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 200px;
  padding: 15px 15px 10px 15px;
  background: white url('/images/headerphoto.jpg') no-repeat center;
}

#sidebar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebox {
  margin-bottom: 10px;
  text-align: center;
}
.sidebox h1 {
  padding: 10px 0px 5px 0px;
  margin: 0px;
  font: bold 1.3em "Trebuchet MS", Tahoma, sans-serif;
}

ul.sidemenu a {
  color: #333333;
  text-decoration: none;
}
ul.sidemenu a:hover {
  color: #65944A;
}

#main h1 {
  padding: 10px 0px 0px 5px;
  margin: 0px 10px 0px 10px;
  border-bottom: 1px solid #F2F2F2;
  font: normal 1.5em "Trebuchet MS", Tahoma, sans-serif;
}
#main ul, #main ol {
  margin: 10px 30px;
  padding: 0px 15px;
}
#main ul {
  list-style-image: url('/images/bullet.gif');
}
#main ol {
  list-style-type: decimal;
}

.post {
  background: white url('/images/gradientbg.jpg') repeat-x;
  border: 1px solid #EFEDED;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 10px 0px;
}
.post footer {
  background-color: #FAFAFA;
  border: 1px solid #F2F2F2;
  clear: both;
  padding: 5px;
  margin-top: 20px;
  text-align: right;
}
.post footer p {
  margin: 0px;
}
.post footer p .blob {
  padding-left: 20px;
  margin: 0px 10px 0px 5px;
}

#disqus_thread ul {
  list-style: none;
}

.page-navigation .newer {
  float: left;
}
.page-navigation .older {
  float: right;
}

#footer-content {
  border-top: 1px solid #EAEAEA;
  font: normal 0.95em/1.6em "Trebuchet MS", Tahoma, sans-serif;
  text-align: right;
}
#footer-content a {
  color: #777777;
}
#footer-content a:hover {
  color: #333333;
}

body {
  font: normal 85%/1.5em "Trebuchet MS", Tahoma, sans-serif;
  color: #555555;
  background: #FFFFFF url('/images/bg.jpg') repeat-x;
}

h1, h2, h3 {
  font: bold 1em "Trebuchet MS", Tahoma, sans-serif;
}

h1 {
  font-size: 1.4em;
  color: #65944A;
}

h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2em;
}

p, h1, h2, h3 {
  margin: 10px 15px;
}

a {
  text-decoration: none;
  color: #72A545;
}
a:hover, a:focus {
  text-decoration: underline;
}
a:hover {
  color: #006699;
}

img {
  border: 1px solid #DADADA;
  padding: 5px;
  background: #FAFAFA;
}
img.float-right {
  margin: 5px 0px 5px 15px;
}
img.float-left {
  margin: 5px 15px 5px 0px;
}
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

tt, code {
  background-color: #F2F2F2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #000000;
  font-family: Monaco, monospace;
  font-size: 13px;
  padding: 1px 3px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

abbr {
  cursor: help;
  border-bottom: 1px solid #777777;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.gray {
  color: #BFBFBF;
}

.post > table {
  border-collapse: collapse;
  margin: 10px 15px;
}
.post > table th {
  background-color: #65944A;
}
.post > table th.even, .post > table th:nth-child(2n) {
  background-color: #58873d;
}
.post > table tr.odd td, .post > table tr:nth-child(2n+1) td {
  background-color: #f2f2f2;
}
.post > table tr.odd td.even, .post > table tr.odd td:nth-child(2n), .post > table tr:nth-child(2n+1) td.even, .post > table tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: #e5e5e5;
}
.post > table tr.even td {
  background-color: #FFFFFF;
}
.post > table tr.even td.even, .post > table tr.even td:nth-child(2n) {
  background-color: #f2f2f2;
}
.post > table tfoot th, .post > table tfoot td {
  background-color: white;
}
.post > table tfoot th.even, .post > table tfoot th:nth-child(2n), .post > table tfoot td.even, .post > table tfoot td:nth-child(2n) {
  background-color: #f2f2f2;
}
.post > table.centered {
  margin-left: auto;
  margin-right: auto;
}
.post > table tr {
  height: 30px;
}
.post > table th, .post > table td {
  border: 2px solid #FFFFFF;
  padding-left: 11px;
  padding-right: 11px;
}
.post > table th {
  color: #FFFFFF;
}
