html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, a img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img, a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.icons-sprite, .post footer .date, .post footer .tags, .post footer .comments {
  background: url('/images/icons-sf9677ea4a1.png') no-repeat;
}

/*******************************************
 *AUTHOR:        Erwin Aligam
 *WEBSITE:       http://www.styleshout.com/
 *TEMPLATE NAME: PixelGreen
 *TEMPLATE CODE: S-0010
 *VERSION:       1.2
 *LAST MODIFIED: June-05-2007
 ****************************************** */
/*******************************************
 *   HTML ELEMENTS
 ******************************************** */
/* top elements */
body {
  font: normal 85%/1.5em "Trebuchet MS", Tahoma, sans-serif;
  color: #555555;
  background: white url('/images/bg.jpg') repeat-x;
  text-align: center;
}

/* links */
a {
  text-decoration: none;
  color: #72a545;
}
a:hover {
  text-decoration: underline;
}
a:hover {
  color: #006699;
}

/* headers */
h1, h2, h3 {
  font: bold 1em "Trebuchet MS", Tahoma, Sans-serif;
}

h1 {
  font-size: 1.4em;
  color: #65944a;
}

h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2em;
}

p, h1, h2, h3 {
  margin: 10px 15px;
}

/* images */
img, a img {
  border: 1px solid #dadada;
  padding: 5px;
  background: #fafafa;
}
img.float-right, a img.float-right {
  margin: 5px 0px 5px 15px;
}
img.float-left, a img.float-left {
  margin: 5px 15px 5px 0px;
}

tt, code {
  background-color: #f2f2f2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: black;
  font-family: Monaco, monospace;
  font-size: 13px;
  padding: 1px 3px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

abbr {
  cursor: help;
  border-bottom: 1px solid #777777;
}

/**********************
 *    LAYOUT
 ************************ */
#header-content, #content, #footer-content {
  width: 800px;
}

/* header */
#header {
  height: 100px;
  text-align: left;
}

#header-content {
  margin: 0px auto;
  position: relative;
}
#header-content h1#logo {
  position: absolute;
  font: bold 45px "Trebuchet MS", Sans-serif;
  letter-spacing: -2px;
  color: white;
  margin: 0px;
  /* change the values of left and top to adjust the position of the logo */
  top: 0px;
  left: 0px;
}
#header-content h1#logo a {
  color: white;
}
#header-content h1#logo a:hover {
  text-decoration: none;
}
#header-content #slogan {
  position: absolute;
  font: bold 12px "Trebuchet Ms", Sans-serif;
  text-transform: none;
  color: white;
  margin: 0px;
  /* change the values of left and top to adjust the position of the slogan */
  top: 55px;
  left: 40px;
}

/* header photo */
.headerphoto {
  margin: 0px auto;
  width: 810px;
  height: 200px;
  padding: 15px 10px 10px 10px;
  background: white url('/images/headerphoto.jpg') no-repeat center;
}

/* content */
#content-wrap {
  clear: both;
  float: left;
  width: 100%;
}

#content {
  text-align: left;
  margin: 0px auto;
}

/* sidebar */
#sidebar {
  float: right;
  width: 10%;
  margin: 10px 0px;
}
#sidebar .sidebox {
  margin-bottom: 10px;
  text-align: center;
}
#sidebar .sidebox h1 {
  padding: 10px 0px 5px 0px;
  margin: 0px;
  font: bold 1.3em "Trebuchet MS", Tahoma, Sans-serif;
}

/* sidebar menu */
#sidebar ul.sidemenu li a {
  color: #333333;
  text-decoration: none;
}
#sidebar ul.sidemenu li a:hover {
  color: #65944a;
}
#sidebar ul.sidemenu li img, #sidebar ul.sidemenu li a img, a #sidebar ul.sidemenu li img {
  background: inherit;
  border-width: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
#sidebar ul.sidemenu li img:hover, #sidebar ul.sidemenu li a img:hover, a #sidebar ul.sidemenu li img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* main */
#main {
  float: left;
  width: 88%;
  margin: 0px 0px 10px 0px;
}
#main h1 {
  padding: 10px 0px 0px 5px;
  margin: 0px 10px 0px 10px;
  border-bottom: 1px solid #f2f2f2;
  font: normal 1.5em "Trebuchet MS", Tahoma, Sans-serif;
}
#main ul, #main ol {
  margin: 10px 30px;
  padding: 0px 15px;
}
#main ul li {
  list-style-image: url('/images/bullet.gif');
}
#main ol li {
  list-style-type: decimal;
}

.post {
  background: white url('/images/gradientbg.jpg') repeat-x;
  border: 1px solid #efeded;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  margin: 10px 0px;
}
.post footer {
  background-color: #fafafa;
  border: 1px solid #f2f2f2;
  padding: 5px;
  margin-top: 20px;
}
.post footer p {
  margin: 0px;
}
.post footer .date {
  background-position: 0 0;
  padding-left: 20px;
  margin: 0px 10px 0px 5px;
}
.post footer .tags {
  background-position: 0 -37px;
  padding-left: 20px;
  margin: 0px 10px 0px 5px;
}
.post footer .comments {
  background-position: 0 -19px;
  padding-left: 20px;
  margin: 0px 10px 0px 5px;
}

/* footer */
#footer {
  clear: both;
  font: normal 0.95em/1.6em "Trebuchet MS", Tahoma, Arial, sans-serif;
  text-align: left;
}

#footer-content {
  border-top: 1px solid #eaeaea;
  margin: 0px auto;
  padding-left: 15px;
}
#footer-content a {
  color: #777777;
}
#footer-content a:hover {
  color: #333333;
}

/* alignment classes */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

/* additional classes */
.clear {
  clear: both;
}

.gray {
  color: #bfbfbf;
}

/* pagination */
.page-navigation {
  clear: both;
}
