<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="{{ site.title }}">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18383283-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <!-- wrap starts here -->
  <div id="wrap">
    <header>
      <div id="header">
        <hgroup id="header-content">
          <h1 id="logo"><a href="/">Bald<span class="gray">owl</span></a></h1>
          <h2 id="slogan">my nest somewhere in GitHub's forest</h2>
        </hgroup>
      </div>

      <div class="headerphoto"></div>
    </header>

    <!-- content-wrap starts here -->
    <div id="content-wrap">
      <div id="content">
        <aside id="sidebar">
          <section class="sidebox">
            <ul class="sidemenu">
              <li><a href="https://github.com/baldowl" title="My GitHub's profile"><img src="/images/github.png"></a></li>
              <li><a href="/atom.xml" title="The Atom feed"><img src="/images/rss.png"></a></li>
            </ul>
          </section>
          {% include year_list.html %}
        </aside>

        <section id="main">
          {{ content }}
        </section>
      <!-- content-wrap ends here -->
      </div>
    </div>

    <!-- footer starts here -->
    <footer id="footer">
      <div id="footer-content">
        <div class="float-right">
          <p>Original design by <a href="http://www.styleshout.com/">styleshout</a>;
          some icons from the <a href="http://somerandomdude.com/projects/iconic/">Iconic pack</a>.</p>
        </div>
      </div>
    <!-- footer ends here -->
    </footer>
  <!-- wrap ends here -->
  </div>
</body>

</html>
