<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="{{ site.title }}">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% if paginator.page > 1 %} - Page {{ paginator.page }}{% endif %}{% endif %}</title>
  {% unless site.show_drafts %}
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#000"
      },
      "button": {
        "background": "transparent",
        "text": "#f1d600",
        "border": "#f1d600"
      }
    }
  })});
  </script>
  <!-- Google Analytics -->
  <script>
  var dnt = (navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack);
  var doNotTrack = (dnt == "1" || dnt == "yes");
  if (!doNotTrack) {
  	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  	ga('create', 'UA-18383283-1', 'auto');
  	ga('set', 'anonymizeIp', true);
  	ga('send', 'pageview');
  }
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->
  {% endunless %}
</head>

<body>
  <header>
    <hgroup id="header-content">
      <h1 id="logo"><a href="/">Bald<span class="gray">owl</span></a></h1>
      <h2 id="slogan">my nest somewhere in GitHub's forest</h2>
    </hgroup>

    <div id="headerphoto"></div>
  </header>

  <div id="content">
    <aside id="sidebar">
      <section class="sidebox">
        <ul class="sidemenu">
          <li><a href="https://github.com/baldowl" title="My GitHub's profile"><i class="fab fa-github fa-3x"></i></a></li>
          <li><a href="/atom.xml" title="The Atom feed"><i class="fas fa-rss fa-3x"></i></a></li>
        </ul>
      </section>
      {% include year_list.html %}
    </aside>

    <section id="main">
      {{ content }}
    </section>
  </div>

  <footer>
    <div id="footer-content">
      <p>Original design by <a href="http://www.styleshout.com/">styleshout</a>;
      some icons from the <a href="http://somerandomdude.com/projects/iconic/">Iconic pack</a>.</p>
    </div>
  </footer>
</body>

</html>
